@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edf2f4;
  --foreground: #2b2d42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2d42;
    --foreground: #edf2f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
